#menu{
position: absolute;
  top: 6vh;
  left: 2vw;
}

h2 {
  font-size: 0.8em;
  text-align: center;
  font-family: Helvetica;
}

#nextbutton, #soundbutton, #sizeButton, #posButton, #lightButton, #hide, #flip  {
  width: auto;
  height: 24px;
  text-align: center;
  color: #FFF;
 
}

#nextbutton:active, #soundbutton:active, #sizeButton:active, #posButton:active, #lightButton:active, #hide:active, #flip:active {
    color: #77f273;
}


#instructions {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left:-20px;
  width: auto;
  height: 24px;
  text-align: center;
  color: #FFF;
 
}

		

 #size-slider-over, #pos-slider-over, #light-slider-over {
		position: absolute;
      top: 10%;
      right: 3vw;
			width: 100px;
			height: 45%;
 
      }

#size-slider-container, #pos-slider-container, #light-slider-container {
		  width: 10px;
			height: 100%;
      position: relative;
      left: 50%;
      margin-left: -5px;

			background: #77f273;
			/* Safari 3-4, iOS 1-3.2, Android 1.6 */
			-webkit-border-radius: 20px 20px 20px 20px;
			/* Firefox 1-3.6 */
			-moz-border-radius: 20px 20px 20px 20px;
			/* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
			border-radius: 10px 10px 10px 10px;
		}

#size-slider-bar, #pos-slider-bar, #light-slider-bar {
			width: 100%;
			height: 100%;
			background: #E6E6E6;
			/* Safari 3-4. iOS 1-3.2, Android 1.6 */
			-webkit-border-radius: 20px 20px 20px 20px;
			/* Firefox 1-3.6 */
			-moz-border-radius: 20px 20px 20px 20px;
			/* Opera 10.5, IE9, Safari 5, Chromer, Firefox 4, iOS 4, Android 2.1+ */
			border-radius: 10px 10px 10px 10px;
 		}

#size-slider-handle, #pos-slider-handle, #light-slider-handle {
 			width: 25px;
 			height: 25px;
 			background: #FFF;
 			position: relative;
 			left: -7.5px;
 			top: -10px;
 			/* Safari 3-4, iOS 1-3.2, Android 1.6 */
 			-webkit-border-radius: 2px 20px 20px 20px;
 			/* Firefox 1-3.6 */
 			-moz-border-radius: 20px 20px 20px 20px;
 			/* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
 			border-radius: 20px 20px 20px 20px;
 		}


#loadBackground {
 	z-index: 10;
  background-image: url("./assets/loadingScreen.jpg");
  background-repeat: no-repeat;
 background-size: cover;
 background-color: #d9d9d9;
background-position: center center;
  pointer-events: auto;
  
}

.foreground-image, .poweredby-img {
 	z-index: 10;
  display:none;
}

.buttons {
	position: absolute;
	top: 20px;
	left: 20px;
}

#stop {
	display: none;
}